--swiftversion 6.0
--exclude Carthage,Pods,.build,DerivedData,Resources/Generated,**/*.generated.swift

--indent 4
--linebreaks lf
--trimwhitespace always

--maxwidth 120
--wraparguments before-first
--wrapcollections before-first

--stripunusedargs closure-only
--trailingcommas always
--importgrouping alphabetized
