{
  "version": "0.52.0",
  "rules": [
    "allman",
    "blankLinesAtEndOfScope",
    "blankLinesAtStartOfScope",
    "blankLinesBetweenImports",
    "blankLinesBetweenScopes",
    "braces",
    "consecutiveBlankLines",
    "consecutiveSpaces",
    "duplicateImports",
    "elseOnSameLine",
    "emptyBraces",
    "fileHeader",
    "hoistPatternLet",
    "indent",
    "leadingDelimiters",
    "linebreakAtEndOfFile",
    "noBlankLineBeforeImports",
    "noConsecutiveBlankLines",
    "noExtraBlankLines",
    "noSpaceAroundBraces",
    "noSpaceAroundBrackets",
    "noSpaceAroundComments",
    "noSpaceAroundGenerics",
    "noSpaceAroundOperators",
    "noSpaceAroundParens",
    "noSpaceInMultilineComment",
    "noTrailingCommas",
    "noTrailingSpace",
    "operatorfunc",
    "organizeDeclarations",
    "patternParens",
    "redundantBreak",
    "redundantExtensionACL",
    "redundantFileprivate",
    "redundantGet",
    "redundantInit",
    "redundantLet",
    "redundantNilInit",
    "redundantObjc",
    "redundantParens",
    "redundantPattern",
    "redundantReturn",
    "redundantSelf",
    "redundantType",
    "redundantVoidReturnType",
    "semicolons",
    "sortedImports",
    "spaceAroundBraces",
    "spaceAroundBrackets",
    "spaceAroundComments",
    "spaceAroundGenerics",
    "spaceAroundOperators",
    "spaceAroundParens",
    "spaceInsideBraces",
    "spaceInsideBrackets",
    "spaceInsideComments",
    "spaceInsideGenerics",
    "spaceInsideParens",
    "strongifiedSelf",
    "strongOutlets",
    "trailingCommas",
    "trailingSpace",
    "typeSugar",
    "unusedArguments",
    "wrap",
    "wrapArguments",
    "wrapAttributes",
    "wrapMultilineStatementBraces",
    "wrapSingleLineStatementBraces"
  ],
  "options": {
    "indent": 4,
    "tabwidth": 4,
    "maxwidth": 120,
    "semicolons": "never",
    "commas": "always",
    "trimwhitespace": "always",
    "insertlines": "enabled",
    "removelines": "enabled",
    "allman": "enabled",
    "wraparguments": "before-first",
    "wrapcollections": "before-first",
    "closingparen": "balanced",
    "indentcase": false,
    "indentcomments": true,
    "enable": true,
    "disable": [],
    "experimental": false,
    "fragment": false,
    "conflictmarkers": true,
    "selfrequired": [],
    "extensionacl": "on-declarations",
    "nospaceoperators": [],
    "ranges": "spaced",
    "exponent": "spaced",
    "hexliteralcase": "uppercase",
    "octal": "spaced",
    "binary": "spaced",
    "fractiongrouping": "disabled",
    "exponentgrouping": "disabled",
    "binarygrouping": "4,8",
    "octalgrouping": "4,8",
    "hexgrouping": "4,8",
    "decimalgrouping": "3,6"
  }
}
