//
//  Config.Release.xcconfig
//  Food Scanner
//
//  Created by Tyson Hu on 9/21/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Release defaults to REMOTE; no runtime toggle needed.
FEATURE_FDC_REMOTE = 1

// Emit the flag to Info.plist via INFOPLIST_KEY
INFOPLIST_KEY_FeatureFDCRemoteDefault = $(FEATURE_FDC_REMOTE)
